@import '~antd/dist/antd.less';

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #fff;
}

.hide-native-scrollbar {
	scrollbar-width: none; /* Firefox 64 */
	-ms-overflow-style: none; /* Internet Explorer 11 */
	&::-webkit-scrollbar {
		/** WebKit */
		display: none;
	}
}

.app-box-shadow {
	box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}
.app-box-shadow-right {
	box-shadow: 5px 0 5px -2px rgba(0, 0, 0, 0.12);
}
.app-box-shadow-bottom {
	box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.12);
}

/* Full screen */
.fullscreen-enabled {
	background-color: #fff;
	.ant-select-dropdown {
		z-index: 9999;
	}
}

/* AnimatedSwitch -> react-router-transition */
.route-wrapper {
	position: relative;
}
.route-wrapper > div {
	position: absolute;
}

/* 'antd' style override using custom class name */
.slide-editor-toolbar-more-btn-popup.ant-popover.ant-popover-placement-bottom {
	.ant-popover-inner-content {
		padding: 10px;
	}
}

/* 'antd' style override */
.ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected {
	background-color: #50565c;
	font-weight: bold;
	color: #fff;
	padding: 0 10px;
	border-radius: 2px;
}

.ant-form-item-explain {
	font-size: 10px !important;
}

.ant-form-vertical .ant-form-item-label,
.ant-col.ant-form-item-label {
	padding: 0 !important;
}
.ant-form-item-explain,
.ant-form-item-extra {
	min-height: 15px;
}
